
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/Resources/Admin/Images/logo/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/Resources/Admin/Images/logo/favicon.png" type="image/x-icon">
    <title>Cuba - Premium Admin Template</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link href="~/Resources/Admin/css/fontawesome.css" rel="stylesheet" />
    <!-- ico-font-->
    <link href="~/Resources/Admin/css/vendors/icofont.css" rel="stylesheet" />
    <!-- Themify icon-->
    <link href="~/Resources/Admin/css/vendors/themify.css" rel="stylesheet" />
    <!-- Feather icon-->
    <link href="~/Resources/Admin/css/vendors/feather-icon.css" rel="stylesheet" />
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link href="~/Resources/Admin/css/vendors/bootstrap.css" rel="stylesheet" />
    <!-- App css-->
    <link href="~/Resources/Admin/css/vendors/style.css" rel="stylesheet" />
    <link href="~/Resources/Admin/css/color-1.css" rel="stylesheet" />
</head>
<body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper default-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">

                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" src="/Resources/Admin/Images/logo/logo.png" alt=""></a></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
                </div>
                <div class="left-header col horizontal-wrapper ps-0">
                    <ul class="horizontal-menu">
                        <li class="mega-menu outside"></li>
                        <li class="level-menu outside"></li>
                    </ul>
                </div>
                <div class="nav-right col-8 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li class="onhover-dropdown">
                            <i data-feather="message-square"></i>
                            <ul class="chat-dropdown onhover-show-div">
                                <li>
                                    <i data-feather="message-square"></i>
                                    <h6 class="f-18 mb-0">Message Box                                    </h6>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid rounded-circle me-3" src="../assets/images/user/1.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="media-body">
                                            <span>Erica Hughes</span>
                                            <p>Lorem Ipsum is simply dummy...</p>
                                        </div>
                                        <p class="f-12 font-success">58 mins ago</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid rounded-circle me-3" src="../assets/images/user/2.jpg" alt="">
                                        <div class="status-circle online"></div>
                                        <div class="media-body">
                                            <span>Kori Thomas</span>
                                            <p>Lorem Ipsum is simply dummy...</p>
                                        </div>
                                        <p class="f-12 font-success">1 hr ago</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid rounded-circle me-3" src="../assets/images/user/4.jpg" alt="">
                                        <div class="status-circle offline"></div>
                                        <div class="media-body">
                                            <span>Ain Chavez</span>
                                            <p>Lorem Ipsum is simply dummy...</p>
                                        </div>
                                        <p class="f-12 font-danger">32 mins ago</p>
                                    </div>
                                </li>
                                <li class="text-center"> <a class="btn btn-primary" href="#">View All     </a></li>
                            </ul>
                        </li>
                        <li class="profile-nav onhover-dropdown p-0 me-0">
                            <div class="media profile-media">
                                <img class="b-r-10" src="/Resources/Admin/Images/profiles/profile.jpg" alt="">
                                <div class="media-body">
                                    <span>Emay Walter</span>
                                    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li><a href="#"><i data-feather="user"></i><span>Account </span></a></li>
                                <li><a href="#"><i data-feather="mail"></i><span>Inbox</span></a></li>
                                <li><a href="#"><i data-feather="file-text"></i><span>Taskboard</span></a></li>
                                <li><a href="#"><i data-feather="settings"></i><span>Settings</span></a></li>
                                <li><a href="#"><i data-feather="log-in"> </i><span>Log in</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends                              -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper default-menu default-menu">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div>
                    <div class="logo-wrapper">
                        <a href="#">
                            <img class="img-fluid for-light" src="/Resources/Admin/Images/logo/logo.png" alt="">
                        </a>
                        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="#">
                            <img class="img-fluid" src="/Resources/Admin/Images/logo/logo-icon.png" alt="">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div id="sidebar-menu">
                          @Html.Partial("_LeftMenu")
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                @RenderBody()
            </div>
            <!-- footer start-->
            <footer class="footer">
                @Html.Partial("_Footer")
            </footer>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="~/Resources/Admin/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/Resources/Admin/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/Resources/Admin/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/Resources/Admin/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/Resources/Admin/js/NewJS/simplebar.js"></script>
    <script src="~/Resources/Admin/js/NewJS/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/Resources/Admin/js/config.js"></script>
    <script src="~/Resources/Admin/js/NewJS/sidebar-menu.js"></script>
</body>
</html>